.container_12, .container_16 {
	margin-left:auto;
	margin-right:auto;
	width:960px;
}
.grid_2{
	float:left;
	position:relative;
	margin-left:10px;
	margin-right:10px;
}

.alpha {
	margin-left:0;
}
.omega {
	margin-right:0;
}

.container_16 .grid_2 {
	width:100px;
}

.container_16 .prefix_1 {
	padding-left:60px;
}
.container_16 .prefix_2 {
	padding-left:120px;
}
.container_16 .prefix_3 {
	padding-left:180px;
}
.container_16 .prefix_5 {
	padding-left:300px;
}
.container_16 .prefix_6 {
	padding-left:360px;
}
.container_16 .prefix_7 {
	padding-left:420px;
}
.container_16 .prefix_9 {
	padding-left:540px;
}
.container_16 .prefix_10 {
	padding-left:600px;
}
.container_16 .prefix_11 {
	padding-left:660px;
}
.container_16 .prefix_13 {
	padding-left:780px;
}
.container_16 .prefix_14 {
	padding-left:840px;
}
.container_16 .prefix_15 {
	padding-left:900px;
}
.container_16 .push_1 {
	left:60px;
}
.container_16 .push_2 {
	left:120px;
}
.container_16 .push_3 {
	left:180px;
}
.container_16 .push_5 {
	left:300px;
}
.container_16 .push_6 {
	left:360px;
}
.container_16 .push_7 {
	left:420px;
}
.container_16 .push_9 {
	left:540px;
}
.container_16 .push_10 {
	left:600px;
}
.container_16 .push_11 {
	left:660px;
}
.container_16 .push_13 {
	left:780px;
}
.container_16 .push_14 {
	left:840px;
}
.container_16 .push_15 {
	left:900px;
}
.container_16 .pull_1 {
	left:-60px;
}
.container_16 .pull_2 {
	left:-120px;
}
.container_16 .pull_3 {
	left:-180px;
}
.container_16 .pull_5 {
	left:-300px;
}
.container_16 .pull_6 {
	left:-360px;
}
.container_16 .pull_7 {
	left:-420px;
}
.container_16 .pull_9 {
	left:-540px;
}
.container_16 .pull_10 {
	left:-600px;
}
.container_16 .pull_11 {
	left:-660px;
}
.container_16 .pull_13 {
	left:-780px;
}
.container_16 .pull_14 {
	left:-840px;
}
.container_16 .pull_15 {
	left:-900px;
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}

* html .clearfix, *:first-child+html .clearfix {
	zoom:1;
}
